.SmartMirror-Decision-Maker .DebugTable{
	max-width: 70px;
	text-align: left;

}

.SmartMirror-Decision-Maker .DebugTablexsmall{
	font-size: 17px;
  	line-height: 17px;
	text-align: left;
	color: #eee;
}
